/* heading */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
/* body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
  --Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  background-color: var(--Violet);
  background-image: url("../assets/images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;

}

header{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.logo-header{
  max-width: 200px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  max-width: 1440px;
  margin: 0 auto;
}

.img-div-main{
  display: flex;
  max-width: 800px;
}

.img-div-main img{
  max-width: 100%;
}

.text-div-main{
  max-width: 640px;
  display: flex;
  flex-direction: column;

  color: #FFF;
}

.text-div-main h2{
  text-align: left;
  max-width: 400px;

  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;

  margin-bottom: 30px;
}

.text-div-main p{
  text-align: justify;
  max-width: 500px;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;

  margin-bottom: 30px;
}

.btn-register{
  width: 150px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  background-color: #FFF;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);

  color: var(--Violet);
}

.btn-register:hover{
  color: #FFF;
  background-color: #FF52C1;
}

.social-div-main{
  width: 1440px;
  display: flex;
  justify-content: flex-end;

  color: #FFF;

  margin-right: 30px;
  margin-bottom: 20px;
}

.icon{
  width: 50px;
  text-align: center;
  padding: 10px;
  border: 1.5px solid #ffffff;
  border-radius: 50%;
  margin: 0 5px;
}

.social-div-main i{
  padding: 10px;
  font-size: 25px;
}



footer{
  display: flex;
  max-width: 1440px;
  background-color: #000;
  padding: 15px;

  margin: 0 auto;

  justify-content: center
}

.attribution {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-size: 12px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 36%, 59%);
}


@media (max-width: 600px){
  body{
    background-color: var(--Violet);
    background-image: url("../assets/images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  header{
    width: 100%;
  }

  .logo-header{
    max-width: 50%;
  }

  .img-div-main{
    display: flex;
    max-width: 100%;
    justify-content: center;
  }
  
  .img-div-main img{
    max-width: 80%;
  }

  .text-div-main{
    margin-top: 50px;
    max-width: 100%;
    align-items: center;
  }

  .text-div-main h2{
    padding: 10px;
    text-align: center;
  }
  .text-div-main p{
    padding: 20px;
    text-align: center;
  }

  .btn-register{
    width: 50%;
  }

  .social-div-main{
    margin: 0;
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: center;
  }

  footer{
    width: 100%;
  }

}
